extends ./layouts/default

block title
    title Koa 电影首页

block content
    include ./includes/header

    .page-wrapper.container-fluid
        .row
            include ./includes/sidebar
            .col-12.col-md-10.col-xl-10.py-md-3.pl-md-5.content
                .row
                    .col-md-6
                        .card
                            img.card-img-top(src='http://img5.mtime.cn/mg/2020/01/17/213534.52414766.jpg',data-video='http://zoyoy.oss-cn-shanghai.aliyuncs.com/video/200117213648150868.mp4')
                            .card-body
                                h4.card-title 标题
                                p.card-desc 电影描述
                            .card-footer
                                small.text-muted 1天前更新
                    .col-md-6
                        .card
                            img.card-img-top(src='//img5.mtime.cn/mg/2020/01/19/111125.48943604_160X90X4.jpg',data-video='http://localhost:3000/api?url=https://vfx.mtime.cn/Video/2020/01/19/mp4/200119111202176577_1080.mp4')
                            .card-body
                                h4.card-title 标题
                                p.card-desc 电影描述
                            .card-footer
                                small.text-muted 1天前更新
                .row
                    .col-md-6
                        .card
                            img.card-img-top(src='http://img5.mtime.cn/mg/2020/01/17/213534.52414766.jpg',data-video='https://vfx.mtime.cn/Video/2020/01/17/mp4/200117213648150868_1080.mp4')
                            .card-body
                                h4.card-title 标题
                                p.card-desc 电影描述
                            .card-footer
                                small.text-muted 1天前更新
                    .col-md-6
                        .card
                            img.card-img-top(src='http://img5.mtime.cn/mg/2020/01/17/213534.52414766.jpg',data-video='https://vfx.mtime.cn/Video/2020/01/17/mp4/200117213648150868_1080.mp4')
                            .card-body
                                h4.card-title 标题
                                p.card-desc 电影描述
                            .card-footer
                                small.text-muted 1天前更新
    #myModal.modal.fade.bd-example-modal-lg(tabindex="-1",role="dialog",aria-labelledby="myLargeModalLabel",aria-hidden="true")
        .modal-dialog.modal-lg
            #videoModal.modal-content

    include ./includes/script

    script.
        var player = null;
        $(document).ready(function() {
            // 视频暂停隐藏
            $('#myModal').on('hidden.bs.modal', function(e) {
                if(player && player.pause) player.pause()
            })

            $('.card-img-top').click(function(e) {
                var video = $(this).data('video')
                var image = $(this).attr('src')
           
                $('#myModal').modal('show') // 弹窗显示
                if(!player) {
                    player = new DPlayer({
                        container: document.getElementById('videoModal'),
                        autoplay: true,
                        theme: '#FADFA3',
                        loop: false,
                        hotkey: true,
                        video: {
                            url: video,
                        },
                    })
                }else {
                    player.switchVideo({
                        url: video,
                        pic: image,
                        type: 'auto'
                    })
                }
            })
        })