style.
    .sidebar{
        background: #343a40;
        color: #fff;
    }
    ul{
        list-style: none;
        padding:0;
    }
.col-12.col-md-2.col-xl-1.sidebar
    ul
      li.sidebar-link(href='/link1') 2018 年
      li.sidebar-link(href='/link1') 2019 年
      li.sidebar-link(href='/link1') 2020 年
      li.sidebar-link(href='/link1') 2021 年
      li.sidebar-link(href='/link1') 2022 年
      li.sidebar-link(href='/link1') 2023 年
      li.sidebar-link(href='/link1') 2024 年
      li.sidebar-link(href='/link1') 2025 年
